body {
	margin: 0pt;
	overflow: hidden;
}

*:focus {
	outline: none;
}

/* div {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} */